/*@font-face*/

@font-face{
	font-family: 'PT-Sans';
	src: url('../fonts/PT-Sans/PTSans-Regular.ttf');
}

@font-face{
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Rubik';
    src: url('../fonts/static/Rubik-Regular.ttf')
}
